<table id="example">
<thead>
   <tr> 
      <th>#</th>
      <th>Nom</th>
      <th>Symbole</th>
      <th>Numéro</th>
      <th>Electrons</th>
      <th>Masse volumique</th>
      <th>Masse atomique</th>
      <th>Radioactif</th>
   </tr>
</thead>
<tbody>
{{#each data}}
   <tr>
     <td>{{this.id}}</td>
     <td>{{this.nom}}</td>
     <td>{{this.symbole}}</td>
     <td>{{this.numero}}</td>
     <td>{{this.electron}}</td>
     <td>{{this.mass_volumique}}</td>
     <td>{{this.mass_atomique}}</td>
     <td>{{this.is_radioactif}}</td>
   </tr>
{{/each}}
</tbody>
</table>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    let table = new DataTable('#example');
});
</script>